* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; }

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 2.5rem;
  background-color: #f7f7f7; }

h1 {
  color: rgba(255, 255, 255, 0.774);
  animation-name: moveLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  font-size: 2rem;
  text-transform: uppercase; }

h4 {
  color: #ffc05f;
  letter-spacing: 3px;
  animation-name: moveRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase; }

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 28px; }
  h4 {
    font-size: 14px; } }

.header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

@media only screen and (min-width: 1800px) {
  .header {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 35%; } }

@media only screen and (max-width: 600px) {
  .header {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 45%; } }

.background-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  height: 650px;
  z-index: -1;
  opacity: 0.9; }

.mylogo {
  width: 40px;
  position: absolute;
  top: 0; }

.logo {
  width: 300px;
  margin-top: 15px;
  animation-name: moveDown;
  animation-duration: 1.5s;
  animation-timing-function: ease-out; }

@media only screen and (max-width: 600px) {
  .logo {
    width: 200px; } }

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(8px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveRight {
  0% {
    transform: translateX(100px); }
  80% {
    transform: translateX(-8px); }
  100% {
    transform: translate(0); } }

@keyframes moveDown {
  0% {
    transform: translateY(-100px); }
  100% {
    transform: translate(0); } }

.newspaper h2 {
  letter-spacing: 5px;
  text-align: center; }

.newspaper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.95rem;
  column-rule-width: thin;
  column-rule-color: #000;
  height: 90vh; }

@media (max-width: 500px) {
  .newspaper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 95%; }
  iframe {
    width: 470px;
    text-align: center; } }

@media (max-width: 760px) {
  .newspaper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 95%; }
  iframe {
    width: 470px;
    text-align: center; } }

@media (max-width: 1100px) {
  .newspaper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 95%; }
  iframe {
    width: 470px;
    text-align: center; } }

.video {
  margin: 20px; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #e04b26, #a77d7b);
  background-attachment: fixed; }

.container {
  position: relative;
  width: 1150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.container .card {
  position: relative;
  width: 300px;
  height: 420px;
  background: #f7f7f7;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  line-height: 2.3em; }

.container .card h3 {
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  font-family: "Lato", sans-serif; }

.container:hover .card {
  filter: blur(5px);
  transform: scale(0.9);
  opacity: 0.5s; }

.container .card:hover {
  filter: blur(0);
  transform: scale(1);
  opacity: 1; }

.container .card .circle {
  position: relative;
  width: 100%;
  height: 52%;
  background: url(../images/exchange.jpg);
  background-position: center;
  clip-path: circle(200px at center 0);
  text-align: center; }

.container .card .circle2 {
  background: url(../images/jquery.png);
  background-position: center center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 60%;
  background-color: red;
  clip-path: circle(200px at center 0);
  text-align: center; }

.container .card .circle3 {
  position: relative;
  background: url(../images/newyear.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 60%;
  background-color: green;
  clip-path: circle(200px at center 0);
  text-align: center; }

.container .card .circle4 {
  position: relative;
  background: url(../images/hex.png);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 60%;
  background-color: green;
  clip-path: circle(200px at center 0);
  text-align: center; }

.container .card .circle5 {
  position: relative;
  background: url(../images/cacl.png);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 70%;
  background-color: green;
  clip-path: circle(200px at center 0);
  text-align: center; }

.container .card .circle6 {
  position: relative;
  background: url(../images/breath.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 50%;
  background-color: green;
  clip-path: circle(200px at center 0);
  text-align: center; }

.container .card .circle7 {
  position: relative;
  background: url(../images/nexter.png);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 90%;
  background-color: green;
  clip-path: circle(200px at center 0);
  text-align: center; }

.container .card .circle8 {
  position: relative;
  background: url(../images/flex.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 70%;
  background-color: green;
  clip-path: circle(200px at center 0);
  text-align: center; }

.container .card .circle9 {
  position: relative;
  background: url(../images/user.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 50%;
  background-color: green;
  clip-path: circle(200px at center 0);
  text-align: center; }

.container .card .circle10 {
  position: relative;
  background: url(../images/music.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 50%;
  background-color: green;
  clip-path: circle(200px at center 0);
  text-align: center; }

.container .card .circle11 {
  position: relative;
  background: url(../images/digital.png);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 50%;
  background-color: green;
  clip-path: circle(200px at center 0);
  text-align: center; }

.container .card .circle12 {
  position: relative;
  background: url(../images/hangman.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 70%;
  background-color: green;
  clip-path: circle(200px at center 0);
  text-align: center; }

.container .card .circle h2 {
  color: #f7f7f7;
  font-size: 3rem;
  padding: 30px 0; }

.container .card .content {
  position: absolute;
  bottom: 10px;
  page-break-after: 20px;
  text-align: center; }

.container .card .content a {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #666;
  margin: 5px;
  padding: 0 10px; }

section {
  background-color: #f7f7f7; }

.techno {
  width: 99%;
  padding: 100px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 760px) {
  .techno {
    margin: 20px auto;
    flex-wrap: wrap; } }

.technology {
  width: 100%;
  max-width: 300px;
  height: 300px;
  background-color: #fff;
  margin: 10px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3 ease-out; }

.icon {
  margin: 0 auto;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  transition: all 0.3s ease-out; }

.fab.fa-html5 {
  font-size: 42px;
  color: #dd4b25; }

.fab.fa-css3-alt {
  font-size: 42px;
  color: #264de4; }

.fab.fa-js-square {
  font-size: 42px;
  color: #ffda3e; }

.fab.fa-node-js {
  font-size: 42px;
  color: #23b45d; }

.title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 4px; }

.text {
  width: 90%;
  margin: 0 auto;
  color: #666;
  font-weight: 200;
  margin-top: 20px;
  letter-spacing: 1px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3 ease; }

.technology:hover {
  height: 270px; }

.technology:hover .info {
  height: 90%; }

.technology:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 80px; }

.technology:hover .icon {
  background-position: -120px;
  transition: all 0.3s ease; }

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 80vh; }

.gallery img {
  transition: 1s;
  padding: 10px;
  width: 300px; }

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1); }

.certs {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  top: 0%;
  left: 50%;
  font-weight: 700;
  font-size: 38px;
  transform: translate(-50%, 0%);
  font-family: sans-serif;
  background: linear-gradient(to right, #e04b26, #a77d7b, #f7f7f7);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

footer {
  background: linear-gradient(to right, #e04b26, #a77d7b);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60vh; }

.contact {
  padding: 2rem;
  color: #f7f7f7;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px; }

ul {
  position: relative;
  display: flex; }

ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 50%;
  color: #e2e2e2;
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s; }

ul li a:hover {
  color: #999;
  transform: translateY(-5px);
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 10px 5px rgba(0, 0, 0, 0.2); }

.fab.fa-github {
  color: #000; }

.fab.fa-whatsapp {
  color: #49c156; }

.fab.fa-facebook {
  color: #335897; }

.fab.fa-twitter-square {
  color: #1c9cea; }

.fab.fa-google-plus-g {
  color: #f60000; }

footer img {
  position: absolute;
  left: 57%;
  margin-top: 1rem; }

@media (max-width: 768px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    margin-top: 500px; }
  footer img {
    display: none; }
  footer ul li {
    text-align: center; }
  .contact {
    text-align: center;
    box-shadow: none; } }

a {
  color: #fff; }
